.md-editor {
  border-right: none;
  border-left: none;
  border-bottom: none;
  .cm-focused {
    outline: none;
  }
  .md-editor-input-wrapper .cm-scroller {
    padding: 1rem 1rem 5rem;
  }
  .md-editor-preview-wrapper .md-editor-preview {
    padding: 1rem 1.5rem 5rem;
  }
  ::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-corner,
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #838383;
  }
}

@utility md-editor {
  --md-bk-color: var(--color-back);
  --md-color: var(--color-fore);
}

@utility md-editor-dark {
  --md-color: var(--color-fore-dark);
  --md-bk-color: var(--color-back-dark);
  --md-border-color: #39393c;
}

@layer components {
  @import "md-editor-rt/lib/style.css";
}
