node_modules
/.cache
/build
.env
/.react-router
.history

generated/prisma/

.vscode/*
!.vscode/extensions.json
!.vscode/launch.json

.idea

*storybook.log
storybook-static

# netlify
.netlify

# next.js
.next

