@import 'tailwindcss';

/*暗色模式*/
@custom-variant dark {
  @media (prefers-color-scheme: dark) {
    &:where(:root[data-theme='system'], :root[data-theme='system'] *) {
      @slot;
    }
  }
  &:where(:root[data-theme='dark'], :root[data-theme='dark'] *) {
    @slot;
  }
}

input {
  outline: none;
}

@theme {
  --color-crane-orange: #ffb22f;
  --color-crane-green: #21d486;
  --color-crane-blue: #00abff;
  --color-crane-red: #fb658b;
  --color-skeleton: var(--color-gray-100);
}

@layer components {
  .ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

body {
  font-family: 'AlimamaFangYuanTi', serif;
  font-weight: normal;
}

@custom-variant selected {
  &:where([data-selected='true'] *) {
    @slot;
  }
}

::selection {
  background-color: var(--color-crane-blue);
  color: white;
}

/* 视图过渡动画 */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-zinc-400);
  border-radius: 4px;
  transition: background 0.5s;
}

:where(.dark-mode) ::-webkit-scrollbar-thumb {
  background: var(--color-zinc-600);
  border-radius: 4px;
}
