@import 'tailwindcss';

:root {
  --background: #fffdf9;
  --foreground: #171717;
  --crane-orange: #ffb22f;
  --crane-green: #21d486;
  --crane-blue: #00abff;
  --crane-red: #fb658b;
}

input {
  outline: none;
}

@theme {
  --color-crane-orange: var(--crane-orange);
  --color-crane-green: var(--crane-green);
  --color-crane-blue: var(--crane-blue);
  --color-crane-red: var(--crane-red);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'AlimamaFangYuanTi', serif;
  font-weight: normal;
}

@custom-variant selected {
  &:where([data-selected='true'] *) {
    @slot;
  }
}
