/* UI */
@theme {
  --color-primary: var(--color-crane-blue);
  --color-warning: var(--color-crane-orange);
  --color-success: var(--color-crane-green);
  --color-danger: var(--color-crane-red);
  --color-preset: var(--color-back);
  --color-preset-s5: hsl(from var(--color-preset) h s calc(l - 5));
  --color-preset-s10: hsl(from var(--color-preset) h s calc(l - 10));
  --color-preset-s15: hsl(from var(--color-preset) h s calc(l - 15));
  --color-preset-s20: hsl(from var(--color-preset) h s calc(l - 20));
  --color-preset-a5: hsl(from var(--color-preset) h s calc(l + 5));
  --color-preset-a10: hsl(from var(--color-preset) h s calc(l + 10));
  --color-preset-a15: hsl(from var(--color-preset) h s calc(l + 15));
  --color-preset-a20: hsl(from var(--color-preset) h s calc(l + 20));
  --color-input-border: var(--color-zinc-300);
  --color-input-dark-border: var(--color-zinc-700);
  --color-input-focus-border: var(--color-crane-blue);
}

@utility preset-color-* {
  --color-preset: --value(--color-\*);
  --color-preset-s5: hsl(from var(--color-preset) h s calc(l - 5));
  --color-preset-s10: hsl(from var(--color-preset) h s calc(l - 10));
  --color-preset-s15: hsl(from var(--color-preset) h s calc(l - 15));
  --color-preset-s20: hsl(from var(--color-preset) h s calc(l - 20));
  --color-preset-a5: hsl(from var(--color-preset) h s calc(l + 5));
  --color-preset-a10: hsl(from var(--color-preset) h s calc(l + 10));
  --color-preset-a15: hsl(from var(--color-preset) h s calc(l + 15));
  --color-preset-a20: hsl(from var(--color-preset) h s calc(l + 20));
}
